<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <script src="main.js" async></script>
</head>
<body>
  Aqui fica a home, lugar que chega após fazer o login

  <h1>Nice!</h1>

  <ul class="usuario">
    <% for(var i=0; i<frases.length; i++) {%>
      <li class="usuario">
        <span><%= frases[i].usuario %></span>
      </li>
    <% } %>
    </ul>

</body>
</html>